*{
    font-family: rxyp, sans-serif;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}

body{
    overflow-x: hidden;
}

.navbar{
    background-color: #8d18b6;
    border-radius: 15px;
}

.navbar .navbar-brand img{
    filter: brightness(0) invert(1);
}

a.nav-link {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}

a.nav-link.active, a.nav-link:hover {
    text-decoration: underline;
}

.main-banner{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}

.main-banner > .row{
    height: 75vh;
}

.hand-bg{
    background-image: url("../../assets/img/hand.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.main-banner .animated-gif{
    background-image: url("../../assets/img/animated-logo.gif");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 15% center;
}

.main-banner .main-title{

}

.main-banner .main-title h1{
    padding-right: 0;
    font-weight: 600;
    font-size: 7.5rem;
    position: absolute;
    left: 20%;
    top: 4%;
    line-height: 7.5rem;
}
.info-banner{
    display: flex;
    align-content: center;
    padding: 2rem 5rem;
    background-image: url("../../assets/img/childrens.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 42%;
    min-height: 60vh;
}

.info-banner h3{
    color: rgba(206, 29, 29, 1);
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: 500;
}

.info-banner .animated-text{
    width: 90%;
    object-fit: contain;
    margin-left: -1.4rem;
}

.big-text{
    padding-bottom: 0 !important;
}

.big-text h2{
    font-size: 3rem;
    font-weight: bold;
    line-height: 5rem;
}

.right-big-text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;
}

.big-text-red{
    background-color: rgb(206, 29, 29);
    color: #fff;
    font-size: 3rem;
    border-radius: 15px;
    padding: 2rem 3rem;
    width: fit-content;
    letter-spacing: -2px;
    line-height: 4rem;
    transform: rotate(2deg);
    font-weight: 500;
}

.big-text-orange{
    background-color: #ea7708;
    color: #fff;
    font-size: 3rem;
    border-radius: 15px;
    width: fit-content;
    letter-spacing: -2px;
    line-height: 4rem;
    transform: rotate(-4deg);
    padding: 2rem 3rem;
    font-weight: 500;
    min-width: 42rem;
}

.before-footer{
    background-image: url("../../assets/img/happy-children.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.before-footer .bg-image{
    transform: rotateY(180deg);
    width: 100%;
}

.before-footer .headings{
    padding: 3rem 5rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    position: relative;
}

.before-footer .headings h3{
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: -3px;
}

.before-footer .headings p{
    font-size: 2.6rem;
    line-height: 3rem;
    color: #ce1d1d;
}

a.read-more{
    background-color: rgb(71, 89, 20);
    color: #fff;
    padding: 0 2rem 1rem;
    margin-top: 2rem;
    font-size: 3rem;
    border-radius: 150px;
    text-decoration: none;
    width: fit-content;
}

.before-footer-animated{
    position: absolute;
    width: 23rem;
    left: 68%;
    bottom: -10%;
}

footer{
    background: #8d18b6;
    padding: 2rem;
    border-radius: 15px;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.slider-control {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.slider-control i {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.slider-control i:hover{
    transform: scale(1.1);
}

.slider-control button {
    background: transparent;
    border: 0;
}

header {
    z-index: 99999 !important;
    display: block;
    position: relative;
}

.banner-green{
    background-image: url("../../assets/img/main-banner-2.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: #475914;
    min-height: 95vh;
    border-radius: 15px;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
}

section.banner-green h1 {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 600;
}

section.banner-green p {
    color: #fff;
    font-size: 2.5rem;
    line-height: 3rem;
}


