*{
    font-family: rxyp, sans-serif;
    transition: all 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
    text-decoration: none;
    outline: 0;
}

a{
    display: block;
}

body{
    overflow-x: hidden;
}

.navbar{
    background-color: #8d18b6;
    border-radius: 15px;
}

.navbar .navbar-brand img{
    filter: brightness(0) invert(1);
}

a.nav-link {
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
}

a.nav-link.active, a.nav-link:hover {
    text-decoration: underline;
}

.main-banner{
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
}

.main-banner > .row{
    height: 75vh;
}

.hand-bg{
    background-image: url("../../assets/img/hand.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

/*.main-banner .animated-gif{*/
/*    background-image: url("../../assets/img/animated-logo.gif");*/
/*    background-size: 60%;*/
/*    background-repeat: no-repeat;*/
/*    background-position: 15% center;*/
/*}*/

.animated-gif{
    position: relative;
}

.animated-gif a {
    position: absolute;
    bottom: 0;
    right: 8%;
}

.animated-gif a img{
    width: 20rem;
    height: auto;
    object-fit: contain;
}

.main-banner .main-title{

}

.main-banner .main-title h1 {
    padding-right: 0;
    font-weight: 600;
    font-size: 7.5rem;
    position: absolute;
    left: 36%;
    top: 20%;
    line-height: 7.5rem;
    width: 100%;
}

.info-banner{
    display: flex;
    align-content: center;
    padding: 2rem 5rem;
    background-image: url("../../assets/img/childrens.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 42%;
    min-height: 60vh;
}

.info-banner h3{
    color: rgba(206, 29, 29, 1);
    font-size: 3.6rem;
    line-height: 4rem;
    font-weight: 500;
}

.info-banner .animated-text{
    width: 90%;
    object-fit: contain;
    margin-left: -1.4rem;
}

.big-text{
    padding-bottom: 0 !important;
}

.big-text h2{
    font-size: 3rem;
    font-weight: bold;
    line-height: 5rem;
}

.right-big-text{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: end;
}

.big-text-red{
    background-color: rgb(206, 29, 29);
    color: #fff;
    font-size: 3rem;
    border-radius: 15px;
    padding: 2rem 3rem;
    width: fit-content;
    letter-spacing: -2px;
    line-height: 4rem;
    transform: rotate(2deg);
    font-weight: 500;
}

.big-text-orange{
    background-color: #ea7708;
    color: #fff;
    font-size: 3rem;
    border-radius: 15px;
    width: fit-content;
    letter-spacing: -2px;
    line-height: 4rem;
    transform: rotate(-4deg);
    padding: 2rem 3rem;
    font-weight: 500;
    min-width: 42rem;
}

.before-footer{
    background-image: url("../../assets/img/happy-children.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.before-footer .bg-image{
    transform: rotateY(180deg);
    width: 100%;
}

.before-footer .headings{
    padding: 3rem 5rem;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    position: relative;
}

.before-footer .headings h3{
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: -3px;
}

.before-footer .headings p{
    font-size: 2.6rem;
    line-height: 3rem;
    color: #ce1d1d;
}

a.read-more{
    background-color: rgb(71, 89, 20);
    color: #fff;
    padding: 0 2rem 1rem;
    margin-top: 2rem;
    font-size: 3rem;
    border-radius: 150px;
    text-decoration: none;
    width: fit-content;
}

.before-footer-animated{
    position: absolute;
    width: 23rem;
    left: 68%;
    bottom: -10%;
}

footer{
    background: #8d18b6;
    padding: 2rem;
    border-radius: 15px;
}

footer p{
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.slider-control {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    top: 0;
    left: 0;
    position: absolute;
}

.slider-control i {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
    filter: drop-shadow(1px 1px 2px #fff);
}


.slider-control i:hover{
    transform: scale(1.1);
}

.slider-control button {
    background: transparent;
    border: 0;
    position: fixed;
    z-index: 9999;
}

.slider-control button.next {
    right: 1rem;
}

.slider-control button.prev {
    left: 1rem;
}

header {
    z-index: 99999 !important;
    display: block;
    position: relative;
}

.banner-green{
    background-image: url("../../assets/img/main-banner-2.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: #475914;
    min-height: 95vh;
    border-radius: 15px;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: center;
    gap: 1rem;
}

section.banner-green h1 {
    color: #fff;
    font-size: 4.8rem;
    font-weight: 600;
}

section.banner-green p {
    color: #fff;
    font-size: 2.5rem;
    line-height: 3rem;
}

img.who-is-it-img {
    width: 100%;
    margin-top: 12rem;
}

.red-circle-before{
    position: relative;
}

.red-circle-before:before {
    content: '';
    width: 700px;
    height: 700px;
    background: #ce1d1d;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    bottom: 4%;
    left: 5%;
}

a.cta-green-who-is-it {
    position: absolute;
    left: 18%;
    bottom: 13%;
    z-index: 2;
}

a.cta-green-who-is-it img {
    width: 400px;
    height: auto;
    object-fit: cover;
}

/*.red-circle-before:after{*/
/*    content: '';*/
/*    background-image: url("../../assets/img/animated-logo-green.gif");*/
/*    z-index: 1;*/
/*    position: absolute;*/
/*    width: 450px;*/
/*    height: 450px;*/
/*    background-position: center;*/
/*    background-size: contain;*/
/*    background-repeat: no-repeat;*/
/*    left: 12%;*/
/*    bottom: 5%;*/
/*}*/

section.who-is-it.row h3 {
    font-weight: bold;
    font-size: 3.5rem;
    letter-spacing: -3px;
    margin-top: 4rem;
}

section.who-is-it.row p {
    color: #ce1d1d;
    font-size: 2.5rem;
    margin-top: 1rem;
}

h4.green-text-banner {
    background: #475914;
    width: fit-content;
    border-radius: 15px;
    padding: 1.5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    line-height: 2.8rem;
    transform: rotate(2deg);
    margin-top: 3rem;
    font-weight: 100;
}

h4.pink-text-banner {
    background: #8d18b6;
    width: fit-content;
    border-radius: 15px;
    padding: 1.5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    line-height: 2.8rem;
    transform: rotate(-2deg);
    margin-top: -0.5rem;
    font-weight: 100;
}

h4.orange-text-banner{
    background: #ea7708;
    width: fit-content;
    border-radius: 15px;
    padding: 1.5rem 2rem;
    color: #fff;
    font-size: 2.3rem;
    line-height: 2.8rem;
    transform: rotate(2deg);
    margin-top: -1rem;
    font-weight: 100;
}

.w-fit-content{
    width: fit-content;
}

.cta-red {
    text-align: center;
    margin: 0 0 6rem;
}

.cta-red a {
    background: #ce1d1d;
    color: #fff;
    font-size: 3rem;
    border-radius: 15px;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: -1px;
    text-decoration: none;
    transform: rotate(1deg);
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.madster{
    background-image: url("../../assets/img/madster-bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right 2rem;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
}


.madster:before {
    content: '';
    width: 35rem;
    height: 35rem;
    position: absolute;
    right: 4%;
    bottom: 4%;
    background-color: #8d18b6;
    z-index: -1;
    border-radius: 100%;
}

.madster h1{
    font-size: 4.5rem;
    font-weight: bold;
    letter-spacing: -3px;
    margin-bottom: 3rem;
}

.container-fluid{
    width: 90%;
}

.madster p {
    font-size: 2.4rem;
    font-weight: normal;
    color: #8d18b6;
    line-height: 2.7rem;
    letter-spacing: -1px;
    margin-bottom: 2rem;
}

section.madster p:last-child {
    margin-bottom: 4rem;
}

section.orange-cta.row {
    background: #ea7708;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.orange-cta.row img {
    width: 350px;
    height: auto;
    object-fit: cover;
}

section.orange-cta.row p {
    font-size: 2.1rem;
    line-height: 3rem;
}

p.red-small-text {
    color: #753b04;
    font-size: 1.5rem !important;
    margin: 0 !important;
    margin-top: -1.5rem !important;
}

.what-is-expected {
    overflow: hidden;
    background-image: url("../../assets/img/people-study.webp");
    background-position: right -2rem;
    background-repeat: no-repeat;
    background-size: 55%;
    min-height: 80vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.what-is-expected:before {
    content: '';
    width: 650px;
    height: 650px;
    background: #ce1d1d;
    position: absolute;
    border-radius: 100%;
    z-index: -1;
    bottom: 1%;
    right: 10%;
}

a.cta-orange-expected img {
    width: 450px;
    height: auto;
    object-fit: contain;
}

a.cta-orange-expected {
    position: absolute;
    bottom: -1%;
    right: 30%;
}

section.what-is-expected h3 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    letter-spacing: -1px;
}

section.what-is-expected li, p {
    font-size: 1.8rem;
}

section.banner-green-2 {
    background-color: #475914;
    min-height: 80vh;
    border-radius: 15px;
    background-image: url("../../assets/img/group-people.webp");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom right;
}


section.banner-green-2 h1 {
    margin: 4rem 0;
    font-size: 5.5rem;
    font-weight: bold;
    color: #fff;
}

.trans-bg {
    background: #ffffff61;
    border-radius: 15px;
    padding: 3rem;
    position: relative;
}

.trans-bg h3 {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.trans-bg p {
    font-size: 2.5rem;
}

.trans-bg:after {
    content: '';
    width: 550px;
    height: 550px;
    position: absolute;
    top: -15rem;
    right: -15rem;
    background-image: url("../../assets/img/heart.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(33deg);
}

.trans-bg:before {
    content: '';
    width: 350px;
    height: 350px;
    position: absolute;
    top: 3rem;
    right: -10rem;
    background-image: url("../../assets/img/heart.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(38deg);
}

section.community {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.community a img {
    width: 600px;
    height: auto;
    object-fit: contain;
}

section.community h2 {
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

section.community p {
    font-size: 2.3rem;
    line-height: 3.5rem;
    padding-left: 5rem;
}








